form.nggml-search-fields-form{
    width:95%;
    padding:10px;margin:5px;
    border:2px solid black;
    border-radius:7px;
    background-color:#e8e8e8;
}

div#nggml-search-fields-help,div.nggml-search-fields-show-button{
    color:black;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    background-color:#d7d7d7;
    width:4em;
    padding:0px 2px;
    border:2px solid black;
    border-radius:7px;
    margin:0px;
    float:right;
}

h2.nggml-search-fields-title{
    display:inline;
}

div#nggml-search-fields-help:hover,div.nggml-search-fields-show-button:hover{
    background-color:white;
}

div.nggml-search-fields{
    padding:5px 10px;
    border:2px solid black;
    border-radius:7px;
    margin:10px 5px;
}

span.nggml-search-fields-field-label{
    font-size=16px;
    font-weight:bold;
    float:left;
}

input.nggml-search-fields-for-input{
    width:90%;
}

div.nggml-search-fields-and-or-box{
    padding:5px;
    border:2px solid black;
    border-radius:7px;
    margin:10px 5px;
}

input#nggml-search-fields-submit,input#nggml-search-fields-reset{
    color:black;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    background-color:#d7d7d7;
    padding:0px 5px;
    border:2px solid black;
    border-radius:7px;
    margin:0px;
}

input#nggml-search-fields-submit:hover,input#nggml-search-fields-reset:hover{
    background-color:white;
}

div.nggml-alt-gallery-controls{
    text-align:right;
    padding:10px;
}

button#nggml-alt-gallery-show{
    /* To hide High Density Gallery Button set display to none */
    /*display:none;*/
    color:black;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    background-color:#d7d7d7;
    padding:0px 5px;
    border:2px solid black;
    border-radius:7px;
    margin:0px;
}

button#nggml-alt-gallery-unfocused{
    display:none;
    background-color:#f0f0f0;
}

button#nggml-alt-gallery-focused{
    display:none;
    /* the following sets the highlight color of the focused element */
    background-color:magenta;
}

div.gallery{
    clear:both;
}

div.nggml-alt-gallery-container{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    z-index:1000;
    background-color:white;
    /*overflow:hidden;*/
}

div.nggml-alt-gallery-titles{
    width:25%;
    float:right;
    font-size:smaller;
    background-color:#f0f0f0;
    border-width:0px;/*2px 2px 2px 2px;*/
    border-style:solid;
    border-color:black;
    overflow-y:auto;
}

div.nggml-alt-gallery-titles li{
    color:black;
    font-weight:bold;
    list-style-type:none;
    padding:2px 5px;
    border-width:1px 0px;
    border-style:solid;
    border-color:darkgray;
    margin:0;
}

div.nggml-alt-gallery-icons,div.nggml-alt-gallery-large{
    width:74%;
    float:left;
    background-color:#f0f0f0;
    border-width:0px;/*2px 2px 2px 2px;*/
    border-style:solid;
    border-color:black;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
    z-index:0;
}

div.nggml-alt-gallery-large{
    background-color:transparent;
    overflow:hidden;
}

div.nggml-alt-gallery-large div.nggml-span{
    font-size:large;
    font-weight:bold;
    padding:20px;
}

div.nggml-alt-gallery-large img.nggml-large-image{
    display:block;
    position:absolute;
    /*left:50%;*/
    /*top:50%;*/
    /*transform:translate(-50%,-50%);*/
    margin-right:-50%;   /* Why? see http://www.w3.org/Style/Examples/007/center.en.html#vertical */
    /*transition:opacity 3s;*/
    border-width:0;
}

div.nggml-alt-gallery-large div.nggml-slide-title{
    display:block;
    position:absolute;
    left:0;
    top:0.3em;
    width:100%;
    height:1.2em;
    z-index:300;
    font-weight:bold;
    color:black;
    text-align:center;
    background-color:transparent;
    opacity:1.0;
    display:none;
}

div.nggml-alt-gallery-large div.nggml-slide-controls{
    display:block;
    position:absolute;
    left:0;
    bottom:1.5em;
    width:100%;
    height:1.2em;
    z-index:300;
    text-align:center;
    background-color:transparent;
    opacity:0.3;
    display:none;
}

div.nggml-alt-gallery-large div.nggml-slide-controls:hover{
    opacity:1.0;
}

div.nggml-alt-gallery-large div.nggml-slide-controls button.nggml-slide-button{
    display:inline-block;
    width:4em;
    font-weight:bold;
    color:black;
    background-color:gray;
    padding:0;
    border:3px solid black;
    margin-left:5px;
    margin-right:5px;
}

div.nggml-alt-gallery-large div.nggml-slide-controls button.nggml-slide-button:hover{
}

div.nggml-alt-gallery-large div.nggml-slide-controls button#nggml-info-button::after{
    content: "\f348";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'dashicons';
    vertical-align: bottom;
}

div.nggml-alt-gallery-icons div.nggml-alt-gallery{
    padding:0px;
    border-width:7px;
    border-style:solid;
    border-color:#f0f0f0;
    margin:0px;
}

div.nggml-alt-gallery-meta{
    width:16px;
    height:16px;
}

div.nggml-alt-gallery-meta:before{
    content: "\f348";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'dashicons';
    vertical-align: baseline;
}

div.nggml-alt-gallery-meta.nggml-alt-gallery-meta-image:before{
    vertical-align:super;
}

div.nggml-alt-gallery-bottom{
    clear:both;
    overflow-x:scroll;
}

div#nggml-meta-overlay{
    width:250px;
    height:200px;
    border:3px solid black;
    border-radius:7px;
    padding:5px;
    background-color:white;
    color:black;
    font-size:12px;
    overflow:auto;
}

div#nggml-meta-overlay button.nggml-meta-overlay-close-button,div#nggml-meta-overlay button.nggml-meta-overlay-fullsize-button{
    padding:0;
    border:1px solid black;
    border-radius:3px;
    margin:0;
    background-color:white;
    color:black;
    line-height:90%;
}

div#nggml-meta-overlay div.nggml-meta-content{
    padding:5px;
    background-color:white;
}

div#nggml-meta-overlay  img.nggml-meta-overlay-img{
    display:block;
    width:240px;
    padding:0;
    border:1px solid black;
    margin:0 auto;
}

div.nggml-meta-overlay-desc img{
    border:0px none;
    height:auto;
    max-width:100%;
    vertical-align:middle;
}

select.nggml-gallery-select-view{
    /*font-size:1.2em;*/
    font-weight:bold;
    text-align:center;
    padding:2px 15px;
    background-color:lightgray;
    border:3px solid black;
    border-radius:11px;
    margin-bottom:30px;
    float:right;
}

select.nggml-gallery-select-view:hover{
    background-color:white;
}

button.nggml-button-back{
    font-weight:bold;
    text-align:center;
    padding:2px 15px;
    background-color:lightgray;
    border:3px solid black;
    border-radius:11px;
    float:right;
}

button.nggml-button-back:hover{
    background-color:white;
}
